/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);


  /*========== Font and typography ==========*/

  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.3rem;
  --h2-font-size: 1.1rem;
  --h3-font-size: 0.9rem;
  --normal-font-size: .9rem;
  --small-font-size: .8rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .6rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(207, 48%, 72%, 0),
                      hsla(207, 65%, 65%, 1));
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}

/*================     Header & Nav    ===============*/

header {
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 15px;
}

.navbar a {
    color: var(--text-color-light);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 20px;
}

.navbar .nav-links ul li.active a{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.logo {
    font-size: var(--h1-font-size);
}

.navbar .burgerList {
    position: sticky;
    top: 25px;
    width: 25px;
    right: 25px;
}

/* -------------      MAIN    --------------    */  

.main {
    margin-top: 25px;
}

h1 {
    font-size: var(--h1-font-size);
    text-align: center;
    letter-spacing: .3px;
    margin-bottom: 0.5rem;
    text-shadow: 5px 7px 6px rgba(66, 68, 90, 1);
}

.homeDiv {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap ;
    justify-content: space-around;
}

.homeInfo {
    display: grid;
    align-items: center;
    background-color: rgb(247, 239, 229, 0.50);
    border-radius: 10%;
    margin: 15px;
    padding: 25px;
}

.imgageDiv {
    width: 300px;
    height: 390px;
}

.imgageDiv .image1 {
    border-radius: 50%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.homeSocial {
    width: 35px;
    height: 50px;
}

.gridHome {
    row-gap: 4rem;
    padding-top: 2rem;
}

.homeDiv {
    row-gap: 1.5rem;
}

.lineBlack {
    height: 1px;
    width: 55%;
    margin: 60px auto;
    background-color: #413709;
    box-shadow: 1px 2px 1px black;
}

/*  ------------    SKILLS ------------- */

.skillsDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.skillsDescription h2 , .skillsDescription p{
    background-color: rgba(243, 212, 173, 0.5);
    border-radius: 10px;
    padding: 20px;
}

.skillsSection {
    margin-top: 5px;
    padding: 5px;
}

.skillsSection p {
    margin: 15px;
    padding: 15px;
    color: var(--title-color);
}

.skillsLineOne {
    margin-top: 15px;
}

.skillsLineTwo {
    padding-top: 50px;
}

.skillsOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;

}
.skillsTwo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-self: center;

}

.skillsSection img {
    width: 75px;
    height: 75px;
}

.bar {
    width: 40% ;
    height: 1.5em ;
    border-radius: 0.5em ;
    position: relative ;
    background: #f2f2f2 ;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1) ;
}

.bar .percentage {
    position: relative ;
    font-size: 1.5em ;
    background: rgba(243, 190, 122, 0.76) ;
    height: 1em ;
    border-radius: 0.5em ;
}

/*  -------------   Qualification -------------- */


.qualification {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.qualification h2 , .qualification p{
    background-color: rgba(243, 212, 173, 0.5);
    border-radius: 10px;
    padding: 20px;
}

/*  -------------   Project    ------------- */

.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.projectDescription h2 {
    background-color: rgba(243, 212, 173, 0.5);
    border-radius: 10px;
    padding: 20px;
}

#responsiveBTN {
    width: 100px;
    height: 100px;
}

#responsiveBTN2 {
    width: 100px;
    height: 100px;
}


.chess {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

.alignImageText {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectChess p {
    margin: 10px;
    padding: 10px;
    background-color: rgb(247, 239, 229, 0.50);
}

.projectChess img {
    width: 300px;
    height: 300px;
}


/* ------------------ footer last project --------------------- */


.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

.footer {
  margin-top: 25px;
  width: 100%;
  display: inline-block;
  background: #ccc;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Playball', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}